body {
  font-family: "JetBrainsMono Nerd Font";
  src: url("JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  background-color: white;
  margin: 0;
}

.nav {
  background: black;
  color : pink;
  text-align: center;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  width: 100%;
}
.nav h2{
  margin: 0;
}
.banner {
  background: grey;
  padding: 25px 10px;
  text-align: center;
  width: 100%;
  box-sizing: content-box;
}
.products {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.product {
  width: 220px;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.footer {
  background: black;
  color: pink;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}